.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 0px 0px;
    width: 100vw;
    height: 100vh;
}

.side-nav {
    border-right: 2px solid green;
}

.menu-list {
    list-style: none;
}

.main-content {
    margin-left: 1em;
}

iframe {
    border: unset;
    height: 100%;
    width: 100%;
}